<!DOCTYPE html>
<html>
     <head>
        <base href="/" />
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Ghost</title>

        <script src="/lodash/index.js"></script>

        
        <link href="css/ionic.app.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="public/main.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    </head>

    <body ng-app="starter">
        <ui-view></ui-view>
        <p>Hello earth</p>
    </body>
</html>
