<ion-modal-view class="product edit create">
  <form name="itemEdit" novalidate>
      <ion-header-bar class="modal-header">
        <h1 class="title">Edit Ghost</h1>
      </ion-header-bar>
    <ion-content>
      <div class="list">

        <label class="item item-input">
            <div class="input-label ghost-edit">Title:</div>
            <input type="text" ng-model="ghost.title" placeholder="{{ghost.title}}">
        </label>

        <label class="item item-input item-select">
          <div class="input-label ghost-edit">
              Privacy:
          </div>
          <select name="selected" ng-model="ghost.privacy">
            <option value="Private">Private</option>
            <option value="Friends">Friends</option>
            <option value="Public">Public</option>
          </select>
        </label>
      </div>

      
      <button class="button button-full button-outline button-balanced icon-left ion-back" ng-click="updateGhost()">
        Update
      </button>
      <button class="button button-full button-outline button-assertive icon-left ion-back" ng-click="deleteGhost()">
        Delete
      </button>
            
    </ion-content>
  </form>
</ion-modal-view>