<ion-modal-view class="product edit create" style="width: 100%; height: 10%;">
  <form name="itemEdit" novalidate>
      <ion-header-bar class="modal-header">
      <a class="button icon-left ion-chevron-left button-clear button-assertive" ng-click="closeModal()">Back</a>
        <h1 class="title">Edit Ghost</h1>
      </ion-header-bar>
    <ion-content class="modal_edit">
      <div class="list">

        <label class="item item-input">
            <div class="input-label ghost-edit">Title:</div>
            <input type="text" ng-model="selectGhost.title" placeholder="{{selectGhost.title}}">
        </label>

        <label class="item item-input item-select">
          <div class="input-label ghost-edit">
              Privacy:
          </div>
          <select name="selected" ng-model="selectGhost.privacy">
            <option>private</option>
            <option>friends</option>
            <option>public</option>
          </select>
        </label>
        <div class="button-bar">
          <a class="button button-balanced" ng-click="updateGhost()">Update</a>
          <a class="button button-assertive" ng-click="deleteGhost()">Delete This Ghost</a>
        </div>
      </div>


    </ion-content>
  </form>
</ion-modal-view>