<ion-view view-title="Your Ghost Data">
  <ion-content class="padding">

  <div class="list card">
    <div class="item item-body">
      <div ng-show="ghosts.length === 0">You haven't saved any recent ghost data. Let's go running!</div>
      <div ng-repeat="ghost in ghosts">
           <div class="item item-divider">
            <span>{{ghost.title}}</span>
             <button class="button button-small button-outline button-positive edit" ng-click="editGhost(ghost)">Edit</button>
           </div>
        <div class="item item-text-wrap"><ghost-map ghost='ghost' anchors='false'></ghost-map></div>
        <div class="item item-divider"><ghost-stats data='ghost'></ghost-stats></div>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>