<ion-view view-title="Ghost Data">
  <ion-content class="padding">

  <div class="list card">
    <div class="item item-body">
      <div ng-show="ghosts.length === 0" ng-if="!notMe()">You haven't saved any recent ghost data. Let's go running!</div>
      <div ng-show="ghosts.length === 0" ng-if="notMe()">{{name}} has not saved any ghost data!</div>
      <div ng-repeat="ghost in ghosts">

        <!-- Your ghost -->
        <div ng-if="!notMe()">
          <div class="item item-divider">
            <span>{{ghost.title}}</span>
              <a href="#/tab/edit/{{ghost._id}}">
                <button class="button button-small button-outline button-positive edit">Edit</button>
              </a>
          </div>
          <div class="item" >
            <run-map ghost='ghost' clickable='false'></run-map>
          </div>
          <div class="item item-divider">
            <run-stats data='ghost' format="'colWithDate'"></run-stats>
          </div>
        </div>

        <!-- Other user ghosts -->
        <div ng-if="notMe() && sessionUserIsAuthorized(ghost)">
          <div class="item item-divider">
            <span>{{ghost.title}}</span>
          </div>
          <div class="row">
            <div class="col-50">
              <run-map ghost='ghost' clickable='true' map-height="{height:'158px'}"></run-map>
            </div>
            <div class="col-50">
              <run-stats data='ghost' format="'list'"></run-stats>
            </div>
          </div>
        <!-- <div class="item" >
          <run-map ghost='ghost' clickable='true'></run-map>
        </div>
        <div class="item item-divider">
          <run-stats data='ghost' format="'colWithDate'"></run-stats>
        </div> -->
      </div>

      </div>
    </div>
  </div>

  </ion-content>
</ion-view>