# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
bower_components/
.idea
npm-debug.log
public
.DS_Store
coverage
server/env/dev.js
www/css/
www/lib/