<ion-view view-title="Ghosts">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshChallenges()">
    </ion-refresher>
    <div class='button-bar'>
    	<button class='button button-large button-outline '
              ng-class='{active: predicate=="nearest"}'
              ng-click='sortGhosts("nearest")'>
              <p>Nearest</p>
            </button>
    	<button class='button button-large button-outline '
              ng-class='{active: predicate=="recent"}'
              ng-click='sortGhosts("recent")'>
              <p>Recent</p>
            </button>
    	<button class='button button-large button-outline '
              ng-class='{active: predicate=="popular"}'
              ng-click='sortGhosts("popular")'>
              <p>Popular</p>
            </button>
    	<button class='button button-large button-outline '
              ng-class='{active: predicate=="runLength"}'
              ng-click='sortGhosts("runLength")'>
              <p>Distance</p>
            </button>
    </div>

    <br />
    <div class="list card">
      <div ng-repeat="ghost in ghosts">

        <div class="item item-avatar">
          <img ng-src="{{ghost.owner.picture}}">
          <h2 style="color:#FC4C02">{{ghost.owner.displayName || ghost.owner.email}}</h2>
          <p style="color:lightgray">{{ghost.title || "Untitled Ghost"}}</p>
          <span style="color:#FC4C02" ng-if="newChallenge(ghost._id)" class="ion-alert-circled"> New Challenge </span>
        </div>

        <div class="row">
          <div class="col-50">
            <run-map ghost='ghost' clickable='true' map-height="{height:'158px'}"></run-map>
          </div>
          <div class="col-50">
            <run-stats data='ghost' format="'list'"></run-stats>
          </div>
        </div>
      </div>

<!--       <div class="item item-body">
        <run-map ghost='ghost' clickable='true'></run-map>
        <run-stats data='ghost' list-format="true"></run-stats>
      </div>
    </div>
 -->
  </ion-content>
</ion-view>

