<ion-view view-title="Nearby Challenges">
  <ion-content>
    <div class='button-bar'>
    	<button class='button button-small button-outline ' ng-class='{active: predicate=="nearest"}' ng-click='sortGhosts("nearest")'>Nearest</button>
    	<button class='button button-small button-outline ' ng-class='{active: predicate=="recent"}' ng-click='sortGhosts("recent")'>Recent</button>
    	<button class='button button-small button-outline ' ng-class='{active: predicate=="popular"}' ng-click='sortGhosts("popular")'>Popular</button>
    	<button class='button button-small button-outline ' ng-class='{active: predicate=="runLength"}' ng-click='sortGhosts("runLength")'>Distance</button>
    </div>
    <ion-list>
      <ion-item ng-repeat="ghost in ghosts">
      	<p>{{ghost.title || "Untitled Ghost"}}</p>
      	<p>Owned by {{ghost.owner.displayName || ghost.owner.email}}</p>
        <run-map ghost='ghost' clickable="true"></run-map>
        <ghost-stats data="ghost"></ghost-stats>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
