<ion-view view-title="{{ghost.title}}">
 	<ion-content>
		<ghost-map ghost='ghost' anchors="true"></ghost-map>

		<div class="row">
			<div class="item col">Ghost Best</div>
			<div class="item col" ng-if="usersBest">Your Best</div>
		</div>
		<div class="row">
			<div class="col" title="ghostBest">
				<ghost-stats data="ghost"></ghost-stats>
			</div>
			<div ng-if="usersBest" class="col">
				<ghost-stats data="usersBest"></ghost-stats>
			</div>
		</div>
		<div class="button-bar bar-balanced" ng-click='setGhost()'>
			<a href="#/tab/record" class="button">Challenge Ghost</a>
		</div>

	</ion-content>
</ion-view>