<ion-view view-title="{{ghost.title}}">
 	<ion-content>
		<run-map ghost='ghost' clickable="true"></run-map>

		<div class="row">
			<div class="item col">Ghost Best</div>
			<div class="item col" ng-if="usersBest">Your Best</div>
		</div>
		<div class="row">
			<div class="col" title="ghostBest">
				<run-stats data="ghost" list-format="false"></run-stats>
			</div>
			<div ng-if="usersBest" class="col">
				<run-stats data="usersBest" list-format="false"></run-stats>
			</div>
		</div>
		<div class="button-bar bar-balanced" ng-click='setGhost()'>
			<a href="#/tab/record" class="button">Challenge Ghost</a>
		</div>
		<div class="button-bar bar-assertive">
			<a href="#/tab/challenge" class="button">Back</a>
		</div>

	</ion-content>
</ion-view>