<ion-view view-title="{{ghost.title}}">
 	<ion-content>
		<run-map ghost='ghost' clickable="true"></run-map>

		<div class="row">
		</div>
		<div class="row">
			<div class="col-50" title="ghostBest">
				<div class="item" style="color:#FC4C02">Ghost Best</div>
				<run-stats data="ghost" format="'list'"></run-stats>
			</div>
			<div ng-if="usersBest" class="col-50">
				<div class="item" ng-if="usersBest" style="color:#387ef5">Your Best</div>
				<run-stats data="usersBest" format="'list'"></run-stats>
			</div>
		</div>

		<a href="#/tab/record" style="text-decoration:none;color:#33CD5F">
			<button class="button button-full button-outline button-balanced icon-left ion-person-stalker" ng-click='setGhost()'>
				Challenge Ghost
			</button>
		</a>
		<a href="#/tab/challenge" style="text-decoration:none;color:#EF473A">
			<button class="button button-full button-outline button-assertive icon-left ion-back">
			Back
			</button>
		</a>
		<a class='item'>
			<div class="data"><nvd3 options="chart.options" data="chart.data"></nvd3></div>
		</a>

	</ion-content>
</ion-view>