<ion-view view-title="Profile">
  <ion-content class="padding">
  
    <!-- Profile Card -->
    <div class="list card" id="profile-card">
      <div class="item item-body">
        <div>
          <img class="profile_img" ng-src="img/ghost_profile.jpg" />
          <p class="profile-title">{{me.email}}</p>
        </div>
      </div>
    </div>

    <!-- Profile Options -->
    <div class="list" ng-hide='notMe()'>
      <a class="item item-icon-left" href="#/tab/friends">
        <i class="icon ion-person"></i>
          Friends
        <span class="badge badge-theme-orange">{{ numFriends }}</span>
      </a>
      <a class="item item-icon-left" href="#/tab/followers">
        <i class="icon ion-person-stalker"></i>
          Followers
        <span class="badge badge-theme-orange">{{ numFollowers }}</span>
      </a>
       <a class="item item-icon-left" href="#/tab/statistics">
        <i class="icon ion-ios-analytics"></i>
          Statistics
      </a>
       <a class="item item-icon-left" href="#/tab/pastghosts">
        <i class="icon ion-clipboard"></i>
          Your Past Ghosts
        <span class="badge badge-theme-orange">{{ numGhosts }}</span>
      </a>
      <a class="item item-icon-left" href="#/tab/history">
        <i class="icon ion-ios-book"></i>
          Your History
        <span class="badge badge-theme-orange">{{ numRuns }}</span>
      </a>
    </div>

    <!-- Add/Remove Friend Controls -->
    <div class="list" ng-show='notMe()'>
      <a class="item item-icon-left" ng-click="addFriend(me._id)" ng-show="!isFriend(me._id)">
        <i class="icon ion-person-add"></i>
          Add Friend
      </a>
      <a class="item item-icon-left" ng-click="removeFriend(me._id)" ng-show="isFriend(me._id)">
        <i class="icon ion-minus"></i>
          Remove Friend
      </a>
      <a class="item bar bar-positive" ng-show="!!successMessage">{{successMessage}}</a>
    </div>

  </ion-content>
</ion-view>
