<ion-view view-title="Profile">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider" id="img_parent"><img class="profile_img" ng-src="img/ghost_profile.jpg"></div>
      <div class="item item-body">
        <div id="img_parent">
          {{me.email}}
          <br/>
          <br/>
          <div ng-show='notMe()'>
            <div ng-click="addToFd(me._id)"><img class="add-friend" ng-src="img/add_friend.png">
              <span>{{successMessage}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Recent Ghosts</div>
      <div class="item item-body">
        <div ng-show="noGhost">
          <span>You have no recent ghosts</span>
        </div>
        <div>
          {{myRecentGhost}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Statistics</div>
      <div class="item item-body">
        <div>
         <ul>
           <li>Total Runs: {{myghosts.length}}</li>
           <li>Average Pace:{{avgPace}} km/hr</li>
           <li>Average Distance:{{avgDis}} km per run</li>
         </ul>
      </div>
    </div>
    <div class="list card">
     <div class="item item-divider">Following</div>
      <div class="item item-body">
          <div >
            <!-- <button type="button" class="btn btn-primary">Friends</button> -->
            <a href="#/tab/friends">Find Friends</a>
          </div>
          <div >
            <ul>
              <li ng-repeat="friend in friends"><a href='#/tab/profile/{{friend._id}}'>{{friend.email}}</a></li>
            </ul>

          </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
