<ion-view view-title="Nice One!">
  <ion-content>
  	<run-stats data="runData"></run-stats>
  	<div ng-if="isGhost">
  		<div class="list">
  			<label class="item item-input item-stacked-label">
  				<span style="color:white" class="input-label">Give Your Run a Name!</span>
  				<input type="text"
  		       		   name="title"
  		       		   ng-model="runData.title" />
  		    </label>
  			<button class="button button-block button-balanced" ng-click="saveTitle()">Save Title</button>
  		</div>
  	</div>
	<div class="list">
		<button class="button button-block button-assertive icon-left ion-social-google" ng-click="share()">
			Share on Google+
		</button>
		<button class="button button-block button-positive icon-left ion-social-facebook" ng-click="share()">
			Share on Facebook
		</button>
	</div>
	<div class="footer">
		<button class="button button-block icon-left ion-home" ng-click="goHome()">
				Return Home
		</button>
	</div>
  </ion-content>
</ion-view>
