<ion-view view-title="Nice One!">
  <ion-content>
  	<run-stats data="runData" format="'colWithDate'"></run-stats>
  	<div ng-if="isGhost">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name Your Ghost!</span>
          <input type="text" 
                 name="title"
                 ng-model="runData.title" 
                 placeholder="Name Your Ghost!" />
      </label>
      <button class="button button-full button-outline button-balanced icon-left ion-checkmark" ng-click="saveTitle()">
        Save
      </button>
  	</div>

    <button class="button button-full button-outline button-assertive icon-left ion-person-stalker" ng-click="challenge()">
      Challenge Your Followers
    </button>

    <button class="button button-full button-outline button-clear icon-left ion-home" ng-click="goHome()">
      Return Home
    </button>
    
  </ion-content>
</ion-view>
