<ion-view view-title="Record">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          {{ something }}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          <a ng-click="start()" class="button">Start</a>
          <a ng-click="stop()" class="button">Stop</a>
        </div>
        <div>
          <h2>index {{lastInd}}</h2>
          <h2>current timestamp (or final time): {{testing.locations[lastInd].timestamp || testing.time}}</h2>
          <h2>current lat: {{testing.locations[lastInd].coords.latitude || testing.locations[lastInd].lat}}</h2>
          <h2>current long: {{testing.locations[lastInd].coords.longitude || testing.locations[lastInd].lng}}</h2>
          <h2>number of locations: {{testing.lastInd+1}}</h2>
          <h2>{{counter}}</h2>
          <h2>Are we running? {{testing.running}}</h2>
          <div ng-repeat="loc in testing.locations">location: {{loc.coords.latitude || loc}}</div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
