<ion-view view-title="Record">
  <ion-content class="padding">

    <run-map run-data="currentRun" challenge="challengedGhost"></run-map>
    <run-stats data="currentRun" ng-if="currentRun" format="'running'"></run-stats>

    <a style="text-decoration:none;color:#33CD5F">
      <button class="button button-full button-outline button-balanced icon-left ion-navigate"
              ng-click='start()'
              ng-if="!currentRun">
        <span>Start</span>
      </button>

      <button class="button button-full button-outline icon-left ion-ios-stopwatch"
              ng-click='stop()'
              ng-if="currentRun"
              style="border-color:#FC4C02;color:#FC4C02">
        <span>Stop</span>
      </button>
    </a>

    <a style="text-decoration:none;color:#33CD5F" ng-show="!currentRun && ghost()">
      <button class="button button-full button-outline button-assertive icon-left ion-close"
              ng-click="removeGhost()">
        <span>Cancel</span>
      </button>
    </a>

  </ion-content>
</ion-view>
