<ion-view view-title="Record">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          {{ something }}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          <a ng-click="start()" class="button">Start</a>
          <a ng-click="stop()" class="button">Stop</a>
        </div>

          <ng-map center="center" 
              zoom="5" 
              disable-default-u-i="true">
            <directions
              draggable="{{ map.draggable }}"
              travel-mode="{{ map.mode }}"
              waypoints="{{ map.wayPoints }}"
              origin="{{ map.center }}"
              destination="{{ map.dest }}">
            </directions>       
          </ng-map>


        <div>
          <h2>index {{lastInd}}</h2>
          <h2>current timestamp (or final time): {{currentRun.locations[lastInd].timestamp || currentRun.time}}</h2>
          <h2>current lat: {{currentRun.locations[lastInd].coords.latitude || currentRun.locations[lastInd].lat}}</h2>
          <h2>current long: {{currentRun.locations[lastInd].coords.longitude || currentRun.locations[lastInd].lng}}</h2>
          <h2>number of locations: {{currentRun.lastInd+1}}</h2>
          <h2>{{counter}}</h2>
          <h2>Are we running? {{currentRun.running}}</h2>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
