<ion-view view-title="Settings">
	<ion-content class="padding">
    	<div class="list">

 	  		<li class="item item-toggle">
	    		Distance in: <strong> {{displayDistanceUnit()}} </strong>
		     		<label class="toggle toggle-energized">
		       		<input name="distanceUnit"
		       		  type="checkbox"
		       		  ng-model="user.isMetric">
		       		<div class="track">
		         		<div class="handle"></div>
		       		</div>
	     		</label>
	  		</li>

			<label class="item item-input">
	            <span class="input-label ghost-edit">Display Name:</span>
	            <input type="text" ng-model="user.displayName" placeholder="{{user.displayName}}">
   			</label>
	  		<label class="item item-input item-select">
	   			<div class="input-label">
	      			Privacy:
	   			</div>
		    	<select name="selected" ng-model="user.privacy" id="privacySelector">
				    <option>Private</option>
				    <option>Friends</option>
				    <option>Public</option>
		   		</select>
	  		</label>

  		</div>
  		<button class="button button-full button-outline button-balanced icon-left ion-checkmark" ng-click="saveUser()">
        	Save
      	</button>
      	
  	</ion-content>
</ion-view>
