$background: #2B2B2B;
$foreground: #383838;
$font-orange: #FC4C02;
$font-blue: #387ef5;

// sets the general background color
ion-content {
	background-color: $background;
	font-family: 'Open Sans', sans-serif;
	color: $font-blue;
}

// override Ionic padding
.padding {
	padding: 0px;
}

// sets the general header colors
div.title.title-center.header-item {
	color: white;
}
ion-header-bar.bar.bar-stable {
	background-color: $foreground;
}

// sets lists and item colors
.list {
	background-color: $foreground;

	a {
		color: white;
	}
}

.item-body {
	padding: 0;
}
.item {
	color: white;
	background-color: $foreground;
	border-color: $background;

	ul li {
		color: white;
	}
}

// sets tab bar to background color
div.tab-nav.tabs {
	background-color: $background;
}

// sets tab icon default color to orange
ion-tabs.tabs-color-active-positive .tab-item {
	color: $font-orange;
}

// override back button color
.bar-stable .button.button-clear {
	color: $font-orange;
}

// tab selection on the Home tab
.tmk-tab-select {
	padding: 10px;
	float: left;
	width: 50%;
}
.tmk-tab-select.tmk-active {
	border-bottom: 3px solid $font-blue;
	background-color: $foreground;
}

.theme-orange {
	color: $font-orange;
}

.badge-theme-orange {
	color: white;
	background-color: $font-orange;
}
.item.item-icon-left {
	color: $font-blue;
}

#runTimer {
	color: $font-blue;
	font-size:50px;
	font-family:'Orbitron', sans-serif;
	padding-top:15px;
}

@import 'setting/main';
@import 'profile/main';
@import 'map/main';
