.profile_img {
   border-radius: 50%;
   height: 70px;
   width:  70px;
   float: left;
}

.add-friend {
	height: 20px;
	width:  20px;
}

p.profile-title {
	float:right;
	font-size: 23px;
	color: #FC4C02;
}

.button.button-positive.button-outline.edit{
	width:50px;
	float:right;
}

.input-label.ghost-edit{
	color: #fff;
}

.ion-close-circled.delete{
	font-size: 150%;
}
