.profile_img {
   border-radius: 50%;
   height: 70px;
   width:  70px;
   float: left;
}

.add-friend {
	height: 20px;
	width:  20px;
}
#search-input{
	border: 1px groove grey;
}

p.profile-title {
	float:right;
	font-size: 23px;
	color: #FC4C02;
}