.profile_img{
   border-radius: 50%;
   height: 10%;
   width:  10%;
}

#img_parent{
	text-align:center;
}

.my_btn{

}

.add-friend {
	height: 20px;
	width:  20px;
}
#search-input{
	border: 1px groove grey;
}

