<ion-view view-title="Run History">
 <ion-content class="padding">
  	 <div class="list">
  	 	<div ng-show="runsLastWeek.length > 0">
	  	 	<div class="item item-divider">
	  	 		Runs This Week
	  	 	</div>
	  	 	<div ng-repeat="run in runsLastWeek">
	  	 		<run-stats data="run" format="'listWithDate'"></run-stats>
	  	 	</div>
	  	 </div>
	  	<div ng-show="runs.length > 0">
	  	 	<div class="item item-divider">
	  	 		Previous Runs
	  	 	</div>
	  	 	<div ng-repeat="run in runs">
	  	 		<run-stats data="run" format="'listWithDate'"></run-stats>
	  	 	</div>
  		</div>
  	 </div>
   </div>
 </ion-content>
</ion-view>