#unit {
    background-color: #2B2B2B;
}

#display {
   color: #ffffff;
}

.add .modal{
	width: 20px;
	height:20px;
}

.modal-open .modal, .modal-open .modal-backdrop{
	text-align:center;
}

.input-label {
	color: white;
}

.item-select select {
	background: #383838;
	color: white;
	font-size: 1em;
}